:root {
  --color-white: #ffffff;
  --color-grey: #333333;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-image: url("/public/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p, li {
  font-size: clamp(17px, 4vw, 21px);
}

h1 {
  font-size: clamp(41px, 4vw, 58px);
  font-weight: 800;
  text-align: center;
  padding: 15px;
}

h2 {
  font-weight: 800;
}

.quiz-card, .quiz-result {
  background-color: rgba(255, 255, 255, 0.656);
  border-radius: 13px;
  padding: 40px;
  border: 5px solid black;
}

.quiz-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.quiz-card ul li {
  padding: 10px;
}

.quiz-card ul li:hover {
  background-color: lightgreen;
}

.quiz-result {
  background-color: lightgreen;
}

footer {
  background-color: rgba(128, 128, 128, 0.472);
  font-weight: 600;
  display: flex;
  text-align: center;
}